<template name="userSignupAnonymous">
  <form id="anonymous-user">
   <div class="modal-backdrop fade in"></div>
    <div class="modal fade in">
      <div class="modal-header">
        <h3>One More Thing</h3>
      </div>
      <div class="modal-body">
        <p>Before you start chatting, we'll grab your name so people know who you are:</p>
        <input name="nickname" class="nickname input-block-level" type="text" placeholder="Nickname">
        <p>We'll also need your email to send you a transcript once the chat's over:</p>
        <input name="email" class="email input-block-level" type="text" placeholder="Email">
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Start Chatting</a>
      </div>
    </div>
  </form>
</template>