.hero {
  padding-top: 30px;

  .screenshot {
    img {
      max-width: 500px;
      display: block;
      margin: auto;

      box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
    }
  }

  .blurb {
    .tagline {
      font-size: 48px;
      line-height: 65px;
      font-weight: lighter;
    }

    .button {
      display: block;
      padding: 5px;
      margin-top: 20px;
      width: 300px;
      height: 62px;
      border-radius: 5px;

      background: $accent;
      color: white;

      &:hover {
        text-decoration: none;
        background: darken($accent, 5);
      }

      .main {
        font-size: 28px;
        line-height: 38px;
        display: block;
        text-align: center;
        font-weight: lighter;
      }

      .sub {
        font-size: 16px;
        opacity: 0.7;
        display: block;
        text-align: center;
      }
    }
  }
}