<template name="header">
{{#if onHomePage}}
  <div class="container" id="site-head">
    <div class="row">
      <div class="span6">
        <a href="/" class="logo">Whispr <span class="muted">beta</span></a>
      </div>
      <div class="span6">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#">Go Pro</a></li>
          <li><a href="#">Sign In</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
    </div>
  </div>
{{/if}}
</template>